VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_PASSWORD=

RESEND_API_KEY=
RESEND_FROM_EMAIL="Francisca & Daniel <convite@franciscaedaniel.pt>"
RESEND_REPLY_TO=casamento.franciscadaniel@gmail.com
